<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Training List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table class="table table-hover">
            <tr ngclass="btn-primary">
                <th class="tbl2">Id</th>
                <th class="tbl2">Training Name</th>
                <th class="tbl2">Start Date</th>
                <th class="tbl2">End Date</th>
            </tr>
            <tr *ngFor="let training of listTraining | async">
                <td>{{training?.Id}}</td>
                <td>{{training?.TrainingName}}</td>
                <td>{{training?.StartDate | date}}</td>
                <td>{{training?.EndDate | date}}</td>
            </tr>

        </table>
    </mat-card-content>
</mat-card>